{% extends 'public/blank-page.html' %}
{% block content %}
<form id="form1" name="form1" method="post" action="/saf/viewstudent/" style="background-color:#00ACED">
{% csrf_token %}
<table class="pull-right">
  <tr>
    <td>Name</td>
    <td><input type="text" name="s" id="textfield" class="form-control" /></td>
    <td><input type="submit" name="button" id="button" value="Search" class="btn btn-dark"/></td>
  </tr>
</table>

<br />
  <table class="table table-bordered">
    <tr>
      <th width="50px">Sl.No</th>
      <th >Name</th>
      <th>Gender</th>
      <th>Dob</th>
        <th>Class</th>
{#        <th>Division</th>#}
      <th>Address</th>
        <th>Parent Name</th>
        <th>Relation</th>
      <th>Contact</th>
        <th>Boarding Point</th>
      <th colspan="2"></th>

    </tr>
      {% for re in data %}
    <tr>
      <td width="50px">{{ forloop.counter }}&nbsp;</td>
      <td align="center"><img src="{{ re.photo }}" width="100px" height="100px"/>
      <br><b>{{ re.name }}</b></td>
      <td>{{ re.gender }}</td>
      <td>{{ re.dob }}</td>
      <td>{{ re.clas }} - {{ re.division }}</td>
      <td>{{ re.place }} <br> {{ re.city }} <br> {{ re.state }} <br> {{ re.pincode }}&nbsp;</td>
      <td>{{ re.parentname }}</td>
      <td>{{ re.relationship }}</td>
      <td>{{ re.email }}<br>{{ re.phonenumber }}</td>
        <td>{{ re.BUSSTOP.stop_name }}</td>
<td><a href="/saf/editstudent/{{ re.id }}" class="btn btn-info">Edit</a> </td>
    <td><a href="/saf/deletestudent/{{ re.id }}" class="btn btn-danger">Delete</a> </td>

    </tr>
      {% endfor %}
  </table>
</form>
{% endblock %}
